[Unit]
Description=NiceLabel File Drop Connector
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=nlconnector
ExecStart=/opt/nl-connector/app/.venv/bin/python /opt/nl-connector/app/connector.py

StandardOutput=journal
StandardError=journal
