[Unit]
Description=Run NiceLabel connector run every 2 seconds

[Timer]
OnBootSec=30
OnUnitActiveSec=2
Unit=nl-connector.service

[Install]
WantedBy=timers.target
