# SUPABASE CONNECTION
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_TABLE=

# CALCMENU API
CALCMENU_API_BASE_URL=http://10.0.2.2:5000
CALCMENU_API_KEY=Calcmenu
CALCMENU_API_TIMEOUT=999

# NICELABEL TEMPLATE AND OUTPUT PATH
TEMPLATE_PATH=
LABEL_PATH=

# FLASK API CONFIGURATION
CONTROL_API_KEY=
CONTROL_API_HOST=
CONTROL_API_PORT=

# TIMERS
CLEANUP_RETENTION_DAYS=
CLEANUP_TIMES=

SELECTOR_TIMES=

CONNECTOR_MODE=
CONNECTOR_INTERVAL=
CONNECTOR_TIMES=
CONNECTOR_TRIGGER_AFTER_SELECTOR=
