# SUPABASE CONNECTION
SUPABASE_URL=https://wmaefrnwyjohftjiqzdn.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndtYWVmcm53eWpvaGZ0amlxemRuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTkyMjMyNiwiZXhwIjoyMDgxNDk4MzI2fQ.m8r60G70CjekpKLg2lRrn-6mji2-X_bNH9V665rirQA
SUPABASE_TABLE=nl_print_queue

# CALCMENU API
CALCMENU_API_BASE_URL=
CALCMENU_API_KEY=
CALCMENU_API_TIMEOUT=

# NICELABEL TEMPLATE AND OUTPUT PATH
TEMPLATE_PATH=
LABEL_PATH=

# FLASK API CONFIGURATION
CONTROL_API_KEY=
CONTROL_API_HOST=
CONTROL_API_PORT=

# TIMERS
CLEANUP_RETENTION_DAYS=
CLEANUP_TIMES=

SELECTOR_TIMES=06:00,11:00,17:00

CONNECTOR_MODE=schedule
CONNECTOR_INTERVAL=
CONNECTOR_TIMES=06:02,11:02,17:02
CONNECTOR_TRIGGER_AFTER_SELECTOR=false

# SHARE FOLDER
WINDOWS_HOST=
SHARE_NAME=
MOUNT_POINT=
