# SUPABASE CONNECTION
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_TABLE=

# SQL CONNECTION
SQL_SERVER=
SQL_DATABASE=
SQL_USER=
SQL_PASSWORD=

# NICELABEL TEMPLATE AND OUTPUT PATH
TEMPLATE_PATH=
LABEL_PATH=

# FLASK API CONFIGURATION
CONTROL_API_KEY=
CONTROL_API_HOST=
CONTROL_API_PORT=
